// Place all the styles related to the api/books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.books-main-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}

.books-index-container {
  min-height: 338px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 50px;
}

.books-index-container > li {
  flex-basis: 200px;
  margin: 10px 10px;
}

.books-index-item {
  cursor: pointer;
  display: flex;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 348px;
  width: 261px;
  align-self: flex-start;
}

.cover {
  background: black;
  opacity: 0;
  z-index: 10;
}

.books-index-item img,
.books-index-item .cover {
  height: 100%;
  min-height: 100%;
  width: 100%;
  transition: width 0.2s, min-height 0.2s;
  position: absolute;
}

.books-index-desc{
  display: none;
  position: absolute;
}

.books-index-item:hover img,
.books-index-item:hover .cover{
  min-height: 400px;
  width: 300px;

}

.books-index-item:hover img {
  z-index: 5;
}

.books-index-item:hover .cover {
  opacity: 0.5;
}
.books-index-item:hover .books-index-desc {
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 100;
}

.books-index-item h1{
  font-size: 20px;
  color: white;
  width: 250px;
  text-align: center;
  margin-bottom: 10px;
}

.books-index-item h2 {
  font-size: 16px;
  color: black;
}
