// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

.comment-form {
  align-self: flex-end;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.comment-form textarea {
  width: 350px;
  height: 150px;
  resize: none;
}

.comment-form .button {
  margin-top: 15px;
  width: 100px;
}
.comment-list > li {
  padding: 10px;
  margin-left: 30px;
  max-width: 400px;
  word-wrap: break-word;
}
