// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-container {
  display: flex;
  flex-flow: column;
}

.comment-form {
  align-self: flex-end;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.comment-form textarea {
  box-sizing: border-box;
  width: 350px;
  height: 100px;
  resize: none;
  outline: none;
}

.comment-form textarea:focus {
  border: 1px solid $red;
}



.comment-form .button,
.comment-form .grey-button {
  margin-top: 15px;
  width: 100px;
}
.comment-list > li {
  display: flex;
  padding: 10px;
  margin-left: 30px;
  max-width: 500px;
  word-wrap: break-word;
}

.comment-list > li > .user-profile {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
  margin-right: 10px;
}
