// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-container {
  display: flex;
  flex-flow: column;
  width: 500px;
  border: 1px solid $light-grey;
  padding: 50px 50px 0px 50px;
  margin-bottom: 50px;
}

.comment-form {
  align-self: flex-end;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

}

.comment-form textarea {
  box-sizing: border-box;
  width: 350px;
  height: 100px;
  resize: none;
  outline: none;
}

.comment-form textarea:focus {
  border: 1px solid $red;
}

.comment-form .button,
.comment-form .grey-button {
  margin-top: 15px;
  width: 100px;
}
.comment-list > li {
  display: flex;
  align-items: center;
  padding: 20px;
  word-wrap: break-word;
  border-bottom: 1px solid $light-grey;
}

.comment-list > li:last-child {
  border-bottom: 0px;
}

.comment-list > li > .user-profile {
  min-height: 40px;
  min-width: 40px;

  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 100px;
  margin-right: 20px;
}

.comment {
}

.comment-author {
  color: $red;
}

.comment-body {
  padding: 10px 0px;
}

.comment-date {
  font-size: 12px;
  color: $grey;
}
