// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-main-container {
  background: black;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session-form-container {
  font-family: $roboto;
  padding: 75px 25px;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.session-form-container > h2 {
  text-align: center;
}

.session-form {
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
}


.session-form > input:not(.button) {
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 10px 0px;
  outline: none;
  border: 1.5px solid $black;
  border-radius: 2px;
}

.session-form > input:hover:not(.button) {
  border: 1.5px solid $grey;
}

.session-form > input:focus:not(.button) {
  border: 1.5px solid $red;
}

.session-form > .button {
  height: 30px;
  width: 212px;
  margin: 10px 0px;
}
.session-form h3 {
  font-size: 12px;
}
