// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-main-container {
  background: blue;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.session-main-container {
  background-image: url('book-splash.png');
  background-size: cover;
  background-position: center;
}

.session-form-container {
  font-family: $roboto;
  position: relative;
  padding: 75px 25px;
  color: black;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
}

.session-form-container > h2 {
  text-align: center;
}

.session-form {
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
}


.session-form > input:not(.button) {
  width: 200px;
  height: 20px;
  padding: 5px;
  margin: 10px 0px;
  outline: none;
  border: 1.5px solid $black;
  border-radius: 2px;
}

.session-form > input:hover:not(.button) {
  border: 1.5px solid $grey;
}

.session-form > input:focus:not(.button) {
  border: 1.5px solid $red;
}

.session-form > .button {
  height: 30px;
  width: 212px;
  margin: 10px 0px;
}
.session-form h3 {
  font-size: 12px;
}

.session-errors {
  position: absolute;
  top: 270px;
  z-index: 50;
  color: black;
  width: 212px;
  padding-top: 10px;
  font-size: 12px;
}
