$red: crimson;
$dark-red: firebrick;
$darkest-red: darkred;
$light-red: #ffefef;
$grey: grey;

$black: black;

$light-grey: lightgrey;
$lighter-grey: snow;

.bg-red {
  background: $red;
}

.bg-blue {
  background: #3b5998;
}

.bg-green {
  background: green;
}
