.add-to-shelf-container {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.add-to-shelf-container > ul {
  display: none;
  position: absolute;
  z-index: 50000;
  border: 1px solid $red;
}

.add-to-shelf-container > ul > li {
  color: $red;
  padding: 15px;
  background: white;
  cursor: pointer;
  height: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.add-to-shelf-container li .heart {
  display: inline;
  padding-right: 10px;
  font-size: 14px;
  min-width: 50px;
  max-width: 50px;
  color: $light-red;
}

.abf-item {
  width: 100%;
}

.add-to-shelf-container > ul > li:hover {
  background: $light-red;
}


.add-to-shelf-container:hover > ul {
  display: block;
  position: relative;
}
