.button {
  box-sizing: border-box;
  font-family: $roboto;
  padding: 5px;
  border: 3px solid $red;
  border-radius: 3px;
  background: $red;
  color: white;
  font-size: 12px;
}

.button:hover {
  border: 3px solid $dark-red;
  background: $dark-red;
  cursor: pointer;
}

.button:active {
  border: 3px solid $darkest-red;
  background: $darkest-red;
}

.grey-button {
  box-sizing: border-box;
  font-family: $roboto;
  padding: 5px;
  border: 3px solid $light-grey;
  border-radius: 3px;
  background: $light-grey;
  color: white;
  font-size: 12px;
  outline: none;
}
