.header {
  font-family: $roboto;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid $light-grey;
}

h1 {
  font-family: $roboto;
  font-size: 25px;
  color: $red;
}

.header span {
  color: black;
}


#greeting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
}

#greeting-container > .button {
  margin-left: 10px;
}
