.header {
  font-family: $roboto;
  position: fixed;
  width: 100%;
  min-width: 1000px;
  z-index: 999;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid $light-grey;
}

h1 {
  font-family: $roboto;
  font-size: 25px;
  color: $red;
}

.header span {
  color: black;
}


#greeting-container {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}

.logged-in > .button {
  margin-left: 10px;
}

.logged-in {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-container {
  height: 40px;
  display: flex;
  align-items: center;

}

.search-input {
  padding: 5px;
  font-size: 15px;
  width: 300px;
  border: 1px solid white;
  border-bottom: 1px solid black;
  outline: none;
}

.search-button {
  height: 50px;
  width: 50px;
  background: white;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-button:hover {
  font-size: 18px;
}
